<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" type="text/css" href="/style.css">
    <title>Anketa</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
</head>
<body>
    <div class = "anketa">
        <h1 class = "title">
            Podržavate li izgradnju srednjoškolske fiskulturne sale?
        </h1>
        <div class = "circle-green"></div>
        <div class = "circle-red"></div>
        <button class = "btn like">
            <i class="material-icons">thumb_up</i>
            <p class = "brojac podrzava ">0</p>
        </button>
        <button class = "btn dislike">
            <i class="material-icons">thumb_down</i>
            <p class = "brojac nepodrzava">0</p>
        </button>
    </div>
    <script src="/script.js" defer></script>
</body>
</html>